# Aplicacion de Matrices de Peso al DataSet Iris

In [1]:
import math
import numpy as np
import seaborn as sns

In [2]:
# Matriz de pesos - 1ra. capa oculta
W1 = np.array([[2.74282070460469,	24.0582666839381],
[-0.517797956984757,	1.06714653644855],
[7.0326083841646,	4.16462710040493],
[-3.29074031986229,	-6.43108791215705],
[-15.1234010695164,	-6.92795979640552]])

In [3]:
# Matriz de pesos - 2da. capa oculta
W2 = np.array([[0.931192220138197,	0.39469500486577,	9.25378915085945],
[29.7338497473307,	-2.47908687253932,	8.47556782909285],
[0.180340012795556,	0.00886144108426919,	-18.6735025773955]
])

In [4]:
# Matriz de pesos - capa de salida
W3 = np.array([[-0.449403721707344,	0.380342505545007,	-1.11300084351741],
[1.57185981737933,	-0.254526310291077,	0.725174765699713],
[-1.22105710359323,	1.36069158577386,	0.939418054386482],
[0.0489992397870899,	-0.990569209985976,	1.01048888258478]
])

In [5]:
def f_act(X):
    activada = np.array([1 / (1 + math.exp(-x)) for x in X])
    return activada

# Carga de datos

In [6]:
iris = sns.load_dataset('iris')

In [7]:
xcols = ['sepal_length', 'sepal_width', 'petal_length', 'petal_width']
especie = iris['species'].unique()
especie

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [8]:
X = iris[xcols].copy()
X.insert(0, 'bias', 1)
X.head()

   bias  sepal_length  sepal_width  petal_length  petal_width
0     1           5.1          3.5           1.4          0.2
1     1           4.9          3.0           1.4          0.2
2     1           4.7          3.2           1.3          0.2
3     1           4.6          3.1           1.5          0.2
4     1           5.0          3.6           1.4          0.2

In [9]:
prediccion = []
for index, fila in X.iterrows():
    capa1 = f_act(fila.dot(W1))
    capa1 = np.insert(capa1, 0, 1)
    capa2 = f_act(capa1.dot(W2))
    capa2 = np.insert(capa2, 0, 1)
    salida = f_act(capa2.dot(W3))
    prediccion.append(especie[np.argmax(salida)])

In [14]:
iris['prediccion'] = prediccion
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species prediccion
0           5.1          3.5           1.4          0.2  setosa     setosa
1           4.9          3.0           1.4          0.2  setosa     setosa
2           4.7          3.2           1.3          0.2  setosa     setosa
3           4.6          3.1           1.5          0.2  setosa     setosa
4           5.0          3.6           1.4          0.2  setosa     setosa

# Predicciones erroneas

In [12]:
errores = iris[iris['species'] != iris['prediccion']]
errores

,sepal_length,sepal_width,petal_length,petal_width,species,prediccion
72,6.3,2.5,4.9,1.5,versicolor,virginica
77,6.7,3.0,5.0,1.7,versicolor,virginica
83,6.0,2.7,5.1,1.6,versicolor,virginica

In [15]:
eficiencia = (1 - len(errores)/len(iris)) * 100
eficiencia

98.0